.dexhome{
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-left: -45px;
    box-sizing: content-box;
    transition-duration: .5s;
    transition-delay: 8ms;
    text-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.6em rgb(0, 0, 0);
}

.dexhome:hover{
    cursor: default;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.6em rgb(0, 0, 0);
}