
.cards {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
    grid-template-rows: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.load{
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
    margin-left: 660px;
}